<table class="myTable">
    <thead>
        <tr>
            <th>ID</th>
            <td>NAME</td>
            <td>PRICE</td>
            <td>QUANTITY</td>
            <td>TOTAL COST</td>
            <td>OPTIONS</td>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let finalProduct of finalProductsArray">
            <th scope="row">{{finalProduct.finalId}}.</th>
            <td>{{finalProduct.product.name}}</td>
            <td>{{finalProduct.product.price}} PLN</td>
            <td><button (click)="counterMinus(finalProduct)" class="plusminus">-</button> &nbsp; <span>
                    {{finalProduct.count}}</span> &nbsp; <button (click)="counterPlus(finalProduct)"
                    class="plusminus">+</button> </td>
            <td>
                <span>{{finalProduct.product.price * finalProduct.count}}</span> PLN
            </td>
            <td><button (click)="removeProduct(finalProduct)" class="removeIt">X</button>
                &nbsp; <a href="{{finalProduct.product.image}}" target="_blank"><button class="openImage"><i
                            class='far fa-image'></i></button></a></td>
        </tr>
    </tbody>
</table>

<br>

<div style="text-align:center; font-weight: bold;">
    Your order: {{totalCost}} PLN
</div>

<router-outlet></router-outlet>