.addToCart{
    font-size: 15px;
    float: center;
    width: 40px;
    height: 30px;
    border-radius: 4px;
}

.myTable{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 10px 18px #888888;
    border: 1px solid lightgray; 
    
}
td, th {
    padding: 5px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    height: 50px;
}

.search{
    width: 450px;
    height: 40px;
    border: 1px solid lightgrey;
    padding-left: 5px; 
}

.searchField{
    text-align: center;
}

.photo{
    height: 80px;
    width: auto;
}

tr:nth-child(even) {background-color: #f2f2f2;}

thead{
    font-weight: bold;
}

.continueButton{
    margin-right: 250px; 
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 6px;
}

.closeButton {
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 6px;
}